{% extends 'base.html' %}
{% block content %}

    {% if not session['logged_in'] %}
      <div>
        <a href="/login">Login</a>
      </div>
    {% else %}
    <p style="margin-top:80px;font-size:16px;">
        Hi {{ session['users'][session['username']]['first_name'] }}! 
        <a href="/logout" style="font-size:16px;text-decoration:none;">(Logout)</a>
    </p>
    <h1>Texts</h1>
    <nav id="friends">
        <a href="/texts">View Previous Texts</a>
        <a href="/checkText/">New Spellcheck</a>
    </nav>
    {% if error %}
      <p class="error" style="font-size:14px;"><strong>Error:</strong> {{ error }}</p>
    {% endif %}
      <form action="/checkText/processing" method="POST" enctype="multipart/form-data">
        <div id="question1">
          <p style="font-size:14px;">Enter a text title</p>
          <input type="text" name="content_name" placeholder="content name" required />
          <p style="font-size:14px;">Upload your text</p>
          <input type="file" name="text" required />
        </div>
        <input type="submit" class="button" style="margin-top:20px;margin-left:275px;"value = Submit />
      </form>
      <a href="/">Go back</a>
    {% endif %}


{% endblock %}