{% extends 'base.html' %}
{% block content %}

    <p style = "margin-top:80px;font-size:16px;">
    Hi {{ session['users'][session['username']]['first_name'] }}! 
     <a href="/logout" style="font-size:16px;text-decoration:none;">(Logout)</a>
    </p>

    <h1>Posts</h1>
    <nav id="friends">
      <a href="/texts">View Previous Texts</a>
      <a href="/checkText/">New Spellcheck</a>
    </nav>

    {% if data|length == 0 %}
        You haven't spellchecked yet! <a href="/checkText/">Spellcheck now?</a>
    {% else %}
    <div id ="texts">
      {% for text in data %}
        <div class = "text">
          <div class = "main-text-content">
          <div class = "info">
            <span class="textID">
              {{ text['id'] }}
            </span>
            <span class="date" style="margin-top:0; margin-left:40px;">
              <i class="fa fa-calendar" aria-hidden="true"></i>
              {{ text['timest'].date() }}
            </span>
            <br>
            <span class="time" style="margin-top:0; margin-left:40px;">
              <i class="fa fa-clock-o" aria-hidden="true"></i>
              {{ text['timest'].time() }}
            </span>
          </div>
          <div class = "text-body">
            {% if (text['file_path']) %}
              {{ text['file_path'] }} 
            {% endif %}
          </div>
          <div class = "description">
            <div class = "text-description">
              {{ text['content_name'] }}
            </div>
            <br>
          </div>
        </div>
        </div>

      {% endfor %}
    </div>
    {% endif %}
{% endblock %}